<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  	<title>Scraping FreeCodeCamp</title>
  	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<br>
<br>
<div class="container">
	<div class="d-flex justify-content-center">
		<a href="https://github.com/singhanuj620"><button class="btn btn-md btn-danger">Anuj Singh @ Github</button></a>
	</div>
	<br>
	<table class="table">
	  	<thead class="thead-dark">
	    	<tr>
		      	<th scope="col">#</th>
		      	<th scope="col">Title</th>
		      	<th scope="col">Author</th>
		      	<th scope="col">Action</th>
	    	</tr>
	  	</thead>
	  	<tbody>
	  		<% for (var i = 0; i < len; i++) { -%>
	    	<tr>
		      	<td><%=(i+1)%></td>
			    <td><%=title[i]%></td>
			    <td><%=author[i]%></td>
			    <td><a href="<%=link[i]%>" target="_blank"><button class="btn btn-sm btn-info">View</button></a></td>
			</tr>
			<% } -%>
	    	
	    </tbody>
	</table>
</div>
<br>
<br>
<div class="container">
	<div class="d-flex justify-content-center">
		<a href="https://github.com/singhanuj620"><button class="btn btn-md btn-danger">Anuj Singh @ Github</button></a>
	</div>
</div>
</body>
</html>